<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
        <title>SSO Consumer</title>
    </head>

    <body>
        <div class="h-screen bg-gray-900 grid place-items-center text-white">
            <div class="rounded-lg shadow-md bg-gray-800 p-4 w-80 border border-gray-700">
                <form action="/login" method="get">
                    <h1 class="text-2xl font-semibold border-b border-gray-700 mb-2 pb-2">SSO Consumer</h1>
                    <button
                        type="submit"
                        class="font-semibold px-8 py-2 rounded-lg bg-green-600 hover:bg-green-500 w-full text-center"
                    >
                        Login
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
